@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

html, body {
  font-family: 'Inter', sans-serif !important;
  background-color: #09090b; /* zinc-950 */
}

@layer base {
  button {
    cursor: pointer;
  }
}